# Ignore everything by default
*

# Explicit Whitelist of Files (No wildcards)
!terraform/argocd.tf
!terraform/eks.tf
!terraform/iam.tf
!terraform/outputs.tf
!terraform/provider.tf
!terraform/variables.tf
!terraform/versions.tf
!terraform/vpc.tf
!gitops/bootstrap/root.yaml
!gitops/argocd/namespace.yaml
!gitops/argocd/kustomization.yaml
!AGENTS.md
!LICENSE

# Directories (Required for git to recurse)
!terraform/
!gitops/
!gitops/argocd/
!gitops/bootstrap/
!gitops/platform/
