# Ignore everything
*

# Whitelist Files
!*.tf
!*.tfvars
!*.sh
!*.yaml
!*.yml
!gitignore
!.gitignore
!backend.conf
!README.md

# Whitelist Directories (so git recurses into them)
!gitops/
!gitops/**
!policies/
!policies/**
!modules/
!modules/**

# Explicit Ignore (Overrides whitelist if needed)
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
.aws/
.vscode/
.idea/
.DS_Store
